/**
 * Hammer
 * @version 1.0.3
 */
body {

}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

/* EAN-13 */
.barcode {
  font-family: 'Libre Barcode EAN13 Text', cursive;
  font-size: 3em;
}

