name: PHP Linting (Pint)
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - 'dependabot/npm_and_yarn/*'

jobs:
  phplint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "laravel-pint"
        uses: aglipanci/laravel-pint-action@latest
        with:
          preset: laravel
          verboseMode: true
          testMode: true
          configPath: "vendor/my-company/coding-style/pint.json"
          pintVersion: 1.8.0
          onlyDirty: true
          onlyDiff: "main"
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: PHP Linting (Pint)
          skip_fetch: true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: PHP Linting (Pint)
          branch: php-lint-${{ github.run_id }}
          title: "PHP Linting (Pint) - Automated PR"
          body: "This PR contains changes made by the PHP Linting (Pint) workflow."
